<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /ClubeAlemao/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /ClubeAlemao/index.php [L]
</IfModule>
