body, html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(255,177,0);
  background: -moz-linear-gradient(top, rgba(255,177,0,1) 0%, rgba(255,203,0,1) 100%);
  background: -webkit-linear-gradient(top, rgba(255,177,0,1) 0%,rgba(255,203,0,1) 100%);
  background: linear-gradient(to bottom, rgba(255,177,0,1) 0%,rgba(255,203,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb100', endColorstr='#ffcb00',GradientType=0 );
  overflow-x: hidden;
  
  ::selection {
    color: $c-white !important;
    background: $c-red !important;
  }

  ::-moz-selection {
    color: $c-white !important;
    background: $c-red !important;
  }
}

* {
  min-height: 0;
  min-width: 0;
}

.screen-reader-text {
  display: none;
}

.page-wrapper {
  overflow: hidden;
  padding-top: 20px;
  padding-bottom: 20px;
}

@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(md) {
  .page-wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@include media-breakpoint-up(lg) {}