header{
	position: absolute;
	display: block;
	border-bottom: 1px solid $c-white;
    width: 100%;
    padding: 20px 0;
    z-index: 1;
    .container{
    	position: relative;
    }
    .col-12{
    	align-self: center;
    }
    .logo{
    	position: absolute;
    	display: block;
    	top: 200px;
    	left: 80px;
    	margin-bottom: 0;
    	a{
    		position: relative;
    		display: block;
    		width: 100%;
    		height: 100%;
    	}
    }
    .wrap-menu{
    	@include make-row();
    	width: 100%;
	    .menu{
	    	position: relative;
			display: flex;
			justify-content: space-around;
			align-items: space-around;
			align-content: space-around;
			align-self: space-around;
			list-style: none;
			margin: 0;
			padding: 0;
			li{
				a{
					background-color: transparent;
					position: relative;
					display: block;
					font-weight: 500;
					font-size: 15px;
					color: $c-white;
					text-transform: uppercase;
					text-decoration: none;
					padding: 0 7px;
					-webkit-transition: all ease 0.5s;
					-moz-transition: all ease 0.5s;
					-ms-transition: all ease 0.5s;
					-o-transition: all ease 0.5s;
					transition: all ease 0.5s;
					border-radius: 2px;
					&:hover{
						background-color: $c-white;
						color: $c-red;
						&:after{
							width: 100%;
						}
					}
					&:after{
						position: absolute;
						content: '';
						top:0;
						left: 0;
						width: 0;
						height: 100%;
						background-color: $c-white;
						transform-origin:left;
						color: $c-red;
						-webkit-transition: all ease 0.5s;
						-moz-transition: all ease 0.5s;
						-ms-transition: all ease 0.5s;
						-o-transition: all ease 0.5s;
						transition: all ease 0.5s;
						z-index:-1;
						border-radius: 2px;
					}
				}
			}
	    }
	    .login{
			background-color: rgba(0, 0, 0, 0.2);
			border-radius: 20px 20px;
			padding: 1px 10px;
			border: 1px solid $c-white;
	    	.fa-star{
	    		color: $c-yellow-lighten;
	    	}
			a{
				font-weight: 300;
				font-size: 16px;
				color: $c-white;
				text-transform: uppercase;
				text-decoration: none;
				padding-left: 5px;
				border-left: 1px solid #FFF;
			}
	    }
		.social{
			position: relative;
			display: flex;
			justify-content: space-between;
			list-style-type: none;
			margin: 0;
			padding: 0;
			li{
				a{
					color: $c-white;
					font-size: 25px;
				}
			}
		}
	}
	.wrap-show_menu{
		position: absolute;
		display: none;
		right: 20px;
		top: 10px;
		z-index: 3;
		.show_menu{
			position: relative;
			display: block;
			width: 32px;
			height: 32px;
			padding: 0;
			text-decoration: none;
			color: $c-white;
			font-size: 40px;
		}
	}
}
.hide_menu {
	display: none;
	position: fixed;
	color: transparent;
	background-color: rgba(0,0,0,0);
	overflow: hidden;
	height: 0; width: 0;
	z-index: 9;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
	.fa-times{
		position: absolute;
		top: 20px;
		right: 16px;
		padding: 0;
		text-decoration: none;
		color: $c-white;
		font-size: 50px;
	}
}
body{
	&.internal{
		header{
		    .logo{
		    	top: 130px;
		    	left: inherit;
		    	right: 80px;
		    	margin-bottom: 0;
		    }
		}
	}
	&.dashboard{
		header{
			.logo{
				left: 2%;
			}
		}
	}
}
@include media-breakpoint-down(sm){
	header{
		border-bottom: 0 none;
		padding: 0;
		z-index: 99999;
		.logo{
			top: 70px;
			left: 2%;
			a{
				img{
					width: 40%;
				}
			}
		}
		.wrap-menu{
    		background-color: $c-white;
    		position: fixed;
    		display: block;
    		top: 0;
			left: -100%;
    		width: 75%;
    		height: 100%;
			visibility: hidden;
			opacity: 0;
			padding-top: 27px;
			padding-left: 20px;
			-webkit-transition: all 300ms ease-in-out;
			-moz-transition: all 300ms ease-in-out;
			-ms-transition: all 300ms ease-in-out;
			-o-transition: all 300ms ease-in-out;
			transition: all 300ms ease-in-out;
			&.mostrar{
				visibility: visible;
				opacity: 1;
				left: 0;
				z-index: 9;
				-webkit-transition: all 300ms ease-in-out;
				-moz-transition: all 300ms ease-in-out;
				-ms-transition: all 300ms ease-in-out;
				-o-transition: all 300ms ease-in-out;
				transition: all 300ms ease-in-out;
			}
			.menu{
				display: block;
				padding: 0;
				li{
					a{
						color: $c-black-dark;
					}
				}
			}
			.login{margin-bottom: 10px;}
			.social{
				li{
					a{
						color: $c-black-dark;
					}
				}
			}
		}
		.wrap-show_menu{
			display: block;
			.show_menu{
			}
		}
	}
	.nav-active {
		.wrap-show_menu{
			.show_menu{
				display: none;
				visibility: hidden;
				opacity: 0;
				-webkit-transition: all 300ms ease-in-out;
				-moz-transition: all 300ms ease-in-out;
				-ms-transition: all 300ms ease-in-out;
				-o-transition: all 300ms ease-in-out;
				transition: all 300ms ease-in-out;
			}
		}
		.hide_menu {
			display: block;
			top: 0; left: 0;
			width: 100%; height: 100%;
			background-color: rgba(255,255,255,0.7);
			background-color: rgba(0,0,0,0.3);
			box-shadow: 10px 0 30px 0 rgba(0,0,0,0.5) inset;
			z-index: 9;
			-webkit-transition: all 300ms ease-in-out;
			-moz-transition: all 300ms ease-in-out;
			-ms-transition: all 300ms ease-in-out;
			-o-transition: all 300ms ease-in-out;
			transition: all 300ms ease-in-out;
		}
	}
	body{
		&.internal{
			header{
				.logo{
					left: 8%;
					top: 80px;
					a{
						img{
							width: 60%;
						}
					}
				}
			}
		}
		&.dashboard{
			header{
				.logo{
					left: 4%;
					top: 24px;
				}
			}
		}
	}
}